<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364985323631-cgei97e81iil0hp9p6bqh8lulibn18eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364985323631-cgei97e81iil0hp9p6bqh8lulibn18eo</string>
	<key>API_KEY</key>
	<string>AIzaSyCDfu8cb93CDIVU_5NR_iEhTbIqzTwG1TU</string>
	<key>GCM_SENDER_ID</key>
	<string>364985323631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FirstProject</string>
	<key>PROJECT_ID</key>
	<string>dynamic-link-flutter-4daf1</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamic-link-flutter-4daf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364985323631:ios:02c09b4182a7ca63e77d9a</string>
</dict>
</plist>